services:
  playwright-tests:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./screenshots:/app/screenshots
      - ./videos:/app/videos
      - ./allure-results:/app/allure-results
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
